@font-face {
    font-family: "Rubik";
    font-display: swap;
    src:
        url("./fonts/Rubik-VariableFont_wght.woff2") format("woff2"),
        url("./fonts/Rubik-VariableFont_wght.woff") format("woff");
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: "Inter";
    font-display: swap;
    src:
        url("./fonts/Inter-VariableFont_opsz,wght.woff2") format("woff2"),
        url("./fonts/Inter-VariableFont_opsz,wght.woff") format("woff");
    font-weight: 100 900;
    font-style: normal;
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

button,
input {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}

html {
    font:
        16px/1.5 "Rubik",
        sans-serif;
}

@media (min-width: 1250px) {
    html {
        font-size: clamp(16px, 1.5vw, 20px);
    }
}

@media (max-width: 576px) {
    html {
        font-size: 14px;
    }
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #67cae2;
    display: flex;
    flex-direction: column;

    font-family: "Rubik", sans-serif;
    height: 100%;
    width: 100%;
}

input,
button {
    font-family: "Rubik", sans-serif;
}

* {
    box-sizing: border-box;
}

.game {
    position: relative;
    overflow: hidden;

    padding: 20px;

    flex: 1;

    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    background: url("/bg.webp");
    background-position: center;
    background-size: cover;
}

.game.vert .game-panel {
    width: 554px;
    max-width: 100%;
    height: 120px;
}

.game.vert {
    font-size: 12px;
}

.game__wrap {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    border-radius: 20px;
    border: 1px solid rgb(109, 109, 109);
    overflow: hidden;
    max-width: 1560px;
    margin-inline: auto;
}

canvas {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.game > * {
    position: relative;
}

.game__canvas {
    position: absolute;
    inset: 0;
    flex: 1;
}

@media (max-width: 576px) {
    .game {
        padding: 0;
    }
    .game__wrap {
        border-radius: 0;
        border: none;
    }
}

/* game balance */
.game__balance {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 10;

    font-size: 1rem;
    color: #fff;
}

.game__balance-value {
    font-weight: 600;
}

/* game panel */
.game[data-phase="playing"] .game-panel__left-wrap {
    transform: translateX(calc(-100% - 0.5rem));
}

.game-panel {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 57%;
    max-width: 890px;
    aspect-ratio: 600 / 129;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    gap: 0.5rem;
    padding: 1rem;
    justify-self: center;
    background: radial-gradient(100% 100% at 50% 0%, #4d4d4d 0%, #292929 100%);
    user-select: none;
}

.game-panel::after {
    content: "OOPS";
    position: absolute;
    z-index: 20;
    inset: 0;
    width: 100%;
    height: 100%;
    background: url("/lose.webp");
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 800;
    color: #fff;
    display: none;
}

.game-panel.disabled .game-panel__left,
.game-panel.disabled .game-panel__right {
    pointer-events: none;
    opacity: 0.4;
}

.game[data-phase="finishing"] .game-panel.disabled::after {
    display: flex;
}

.game-panel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7px;
    background: url("/betPartBorder.webp") center / cover no-repeat;
}

.game-panel__left,
.game-panel__right {
    min-width: calc((100% - 0.5rem) / 2);
    overflow: hidden;
}

/* game panel left*/
.game-panel__left-wrap {
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 100%;
    transition: all 0.3s;
}

.game-panel__bet,
.game-panel__cashout {
    min-width: 100%;
    max-width: 100%;
}

.game-panel__bet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
}

.game-panel__bet-field {
    grid-column: 1 / -1;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.6rem;
    gap: 10px;
    background:
        url("/betInputBackground.webp") top center / 100% 100% no-repeat,
        radial-gradient(100% 100% at 50% 0%, #4d4d4d 0%, #292929 100%);
}

.game-panel__bet-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.6rem;
    background:
        url("/quickBtnBackground.webp") top center / 100% 100% no-repeat,
        radial-gradient(100% 100% at 50% 0%, #78a8ef 0%, #21539d 100%);
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}

.game-panel__bet-down,
.game-panel__bet-up {
    min-width: 2rem;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
}

.game-panel__bet-up {
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.00349 12C6.60454 12 7.10775 11.4813 7.10775 10.928V7.08934H10.9167C11.4968 7.08934 12 6.59135 12 5.99654C12 5.40173 11.4968 4.90375 10.9167 4.90375H7.10775V1.06513C7.10775 0.491066 6.60454 0 6.00349 0C5.40245 0 4.89924 0.491066 4.89924 1.06513V4.90375H1.08328C0.531159 4.90375 0 5.40173 0 5.99654C0 6.59135 0.531159 7.08934 1.08328 7.08934H4.89924V10.928C4.89924 11.4813 5.40245 12 6.00349 12Z" fill="%23ffffff"></path></svg>');
}
.game-panel__bet-down {
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.08328 7H10.9167C11.4968 7 12 6.5443 12 6C12 5.4557 11.4968 5 10.9167 5H1.08328C0.531159 5 0 5.4557 0 6C0 6.5443 0.531159 7 1.08328 7Z" fill="%23ffffff"></path></svg>');
}

.game-panel__bet-input {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    color: #fff;
}

.game-panel__cashout {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    background:
        url("/cashoutBtn.webp") center center / 100% 100% no-repeat,
        linear-gradient(to bottom, #b9ddff, #3481c9),
        radial-gradient(#68b6ff, #2476c2, #215e98);
    border: 1px solid #b9ddff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.game-panel__cashout-text {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 0 0 10px #00000062;
}

.game-panel__cashout-sum {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 0 0 10px #00000062;
}

/* game panel right*/
.game-panel__build {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    background:
        url("/buildBtn.webp") center center / 100% 100% no-repeat,
        radial-gradient(100% 100% at 49.73% 0%, #ffcc49 0%, #ffc60d 35.59%, #f2b034 65.52%);

    border: 3px solid #ffcc49;
}

.game-panel__build::before,
.game-panel__build::after {
    content: "";
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: url("/buildBtnBolt.webp") center center / 100% 100% no-repeat;
}

.game-panel__build::before {
    left: 0.5rem;
}

.game-panel__build::after {
    right: 0.5rem;
    transform: translateY(-50%) rotate(90deg);
}

.game-panel__build-text {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 0 0 10px #00000062;
}

.game-panel__build-lines {
    border-radius: 0.8rem;
    position: absolute;
    inset: 0;
    background: url("/buildBtnLines.webp") repeat-x 0 0 / 30rem 100%;
    -moz-animation: 15s linear infinite;
    animation: buildLines 15s linear infinite;
}

@keyframes buildLines {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 30rem;
    }
}

@media (max-width: 1020px) {
    .game-panel {
        aspect-ratio: unset;
        height: 120px;
        width: 550px;
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .game-panel {
        width: 100%;
    }
}

/* multiplier fly*/
.multiplier-fly {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    font-size: 5rem;
    font-weight: 700;
    pointer-events: none;
    z-index: 10;

    font-family: "Rubik", sans-serif;
    white-space: nowrap;
    font-variant-numeric: tabular-nums;
    color: #ffcc00;

    -webkit-text-stroke: 2px #ffffff;
    font-feature-settings: "tnum" 1;
}

.multiplier-fly.zero {
    color: #d83333;
}

.multiplier-fly.active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition:
        transform 0.3s,
        opacity 0.3s;
}

.multiplier-fly.hiding {
    left: calc(100% - 80px);
    top: calc((100% - (7 * 2rem + 5px * 6 - 10px - 1rem)) / 2);
    transform: translate(-50%, -50%) scale(0.2);
    opacity: 0;
    transition: all 0.3s;
}

.multiplier-sidebar {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    height: calc(7 * 2rem + 5px * 6 + 10px + 1rem);

    flex-direction: column;
    scrollbar-width: none;
    display: none;
    gap: 10px;

    color: #fff;
    font-size: 1rem;
}

.multiplier-sidebar.active {
    display: flex;
}

.multiplier-sidebar__list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
    flex: 1;
    padding-left: 50px;
    position: absolute;
    overflow-y: auto;
    overflow-x: visible;
    right: 0;
    height: 100%;
    max-height: calc(7 * 2rem + 5px * 6);
}

@supports not selector(::-webkit-scrollbar) {
    .multiplier-sidebar__list {
        scrollbar-width: thin;
        scrollbar-color: #ffffff83 transparent;
    }
}

.multiplier-sidebar__list::-webkit-scrollbar {
    width: 4px;
}

.multiplier-sidebar__list::-webkit-scrollbar-track {
    background: transparent;
}

.multiplier-sidebar__list::-webkit-scrollbar-thumb {
    background-color: #ffffff83;
    border-radius: 6px;
}

.multiplier-sidebar__list-wrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    flex: 1;
}

.multiplier-item {
    flex-shrink: 0;
    width: 3.5rem;
    border: 1px solid #ffd35c;
    background: rgba(251, 176, 59, 0.32);
    color: #fff;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    text-align: center;
    font-size: 1rem;
    animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        height: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        height: 2rem;
        transform: translateX(0);
    }
}

/* popup cashout */
.popup-cashout {
    position: absolute;
    z-index: 3;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: clamp(400px, 700px, 100% - 24px);
    max-width: calc(100% - 32px);
    padding: 1.2rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #ffbb00;
    gap: 20px;
    opacity: 0;
    pointer-events: none;
    background-image: url("/win.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
}

.popup-cashout.active {
    opacity: 1;
    top: 100px;
    transition: all 0.3s;
    pointer-events: all;
}

.popup-cashout__title {
    font-family: "Rubik", sans-serif;
    white-space: nowrap;
    font-variant-numeric: tabular-nums;
    color: #ffcc00;

    font-size: 2.8rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1;
    text-shadow: 0 0 10px #cf5300;

    -webkit-text-stroke: 2px #ffffff;
    font-feature-settings: "tnum" 1;
}

.popup-cashout__row {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 10px #cf5300;
    gap: 15px;
    flex-wrap: wrap;
}

.popup-cashout__result {
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 600;
}

.popup-cashout__result span {
    font-weight: 800;
}

.popup-cashout__btns {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px 10px;
}

/* popup final */
.popup-final {
    display: none;
    position: fixed;
    z-index: 200;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);

    align-items: center;
    justify-content: center;
    padding: 20px;
}

.popup-final.active {
    display: flex;
}

.popup-final__content {
    position: relative;
    width: 500px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    max-height: 100%;
    padding: 40px 30px 0;

    background: linear-gradient(180.49deg, #158ef6 -3.17%, rgb(7, 91, 255) 105.68%);
    background: url("/lose.webp");
    border-radius: 0.5rem 0.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;

    background: radial-gradient(100% 100% at 50% 0%, #4d4d4d 0%, #292929 100%);
}

.popup-final__content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7px;
    border-radius: 0.5rem 0.5rem 0 0;
    background: url("/betPartBorder.webp") center / cover no-repeat;
}

.popup-final__text {
    max-width: 400px;
    margin-inline: auto;

    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 500;
    color: #fff;
}

.popup-final__content .game__btn {
    font-size: 30px;
    font-weight: 800;
    line-height: 1;
    padding: 0.8rem 1rem;
    width: 200px;
    max-width: 100%;
    margin-bottom: -25px;
    flex: unset;
}

.popup-final__content .game__btn::before {
    top: -3px;
    left: -3px;
    border: 3px solid rgb(255, 255, 255);
}

@media (max-width: 596px) {
    .popup-final__content {
        padding: 20px 16px 16px;
    }
}

/* game buttons */
.game__btn {
    flex: 1 0 auto;
    max-width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background:
        url("/cashoutBtn.webp") center center / 100% 100% no-repeat,
        linear-gradient(to bottom, #b9ddff, #3481c9),
        radial-gradient(#68b6ff, #2476c2, #215e98);
    color: #fdfdf8;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 24px;
    padding: 0.8rem 1rem;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: 0 0 8px rgb(6, 70, 199);
    border: 2px solid #b9ddff;
    transition: all 0.3s;
}

.game__btn--secondary {
    background: radial-gradient(100% 70% at 50% 30%, #f8d562 0%, #f8d562 35.59%, #f7901c 65.52%);

    text-shadow: 0 0 8px rgb(255, 147, 7);
    border: 2px solid #ffffff;
    color: #fff;

    background-size: 100% 200%;
    background-position: 0 100%;
}

/* sound controller */
.game__sound-controller {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-left: auto;
}

.game__sound-controller::after {
    content: "";
    background-image: url('data:image/svg+xml,<svg width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.4 1.8C11.5532 0.262376 14 1.07799 14 3.00001V21.1214C14 23.0539 11.5313 23.8627 10.3878 22.3049L6.49356 17H4C2.34315 17 1 15.6569 1 14V10C1 8.34315 2.34315 7 4 7H6.5L10.4 1.8ZM12 3L8.1 8.2C7.72229 8.70361 7.12951 9 6.5 9H4C3.44772 9 3 9.44772 3 10V14C3 14.5523 3.44772 15 4 15H6.49356C7.13031 15 7.72901 15.3032 8.10581 15.8165L12 21.1214V3Z" fill="%23ffffff"></path><path d="M16.2137 4.17445C16.1094 3.56451 16.5773 3 17.1961 3C17.6635 3 18.0648 3.328 18.1464 3.78824C18.4242 5.35347 19 8.96465 19 12C19 15.0353 18.4242 18.6465 18.1464 20.2118C18.0648 20.672 17.6635 21 17.1961 21C16.5773 21 16.1094 20.4355 16.2137 19.8256C16.5074 18.1073 17 14.8074 17 12C17 9.19264 16.5074 5.8927 16.2137 4.17445Z" fill="%23ffffff"></path><path d="M21.41 5C20.7346 5 20.2402 5.69397 20.3966 6.35098C20.6758 7.52413 21 9.4379 21 12C21 14.5621 20.6758 16.4759 20.3966 17.649C20.2402 18.306 20.7346 19 21.41 19C21.7716 19 22.0974 18.7944 22.2101 18.4509C22.5034 17.5569 23 15.5233 23 12C23 8.47672 22.5034 6.44306 22.2101 5.54913C22.0974 5.20556 21.7716 5 21.41 5Z" fill="%23ffffff"></path></g></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
}

.game__sound-controller.disabled::after {
    opacity: 0.5;
    background-image: url('data:image/svg+xml,<svg width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill-rule="evenodd" clip-rule="evenodd" d="M14 3.00001C14 1.07799 11.5532 0.262376 10.4 1.8L6.5 7H4C2.34315 7 1 8.34315 1 10V14C1 15.6569 2.34315 17 4 17H6.49356L10.3878 22.3049C11.5313 23.8627 14 23.0539 14 21.1214V3.00001ZM8.1 8.2L12 3V21.1214L8.10581 15.8165C7.72901 15.3032 7.13031 15 6.49356 15H4C3.44772 15 3 14.5523 3 14V10C3 9.44772 3.44772 9 4 9H6.5C7.12951 9 7.72229 8.70361 8.1 8.2Z" fill="%23ffffff"></path><path d="M21.2929 8.57094C21.6834 8.18041 22.3166 8.18042 22.7071 8.57094C23.0976 8.96146 23.0976 9.59463 22.7071 9.98515L20.7603 11.9319L22.7071 13.8787C23.0976 14.2692 23.0976 14.9024 22.7071 15.2929C22.3166 15.6834 21.6834 15.6834 21.2929 15.2929L19.3461 13.3461L17.3994 15.2929C17.0088 15.6834 16.3757 15.6834 15.9852 15.2929C15.5946 14.9023 15.5946 14.2692 15.9852 13.8787L17.9319 11.9319L15.9852 9.98517C15.5946 9.59464 15.5946 8.96148 15.9852 8.57096C16.3757 8.18043 17.0088 8.18043 17.3994 8.57096L19.3461 10.5177L21.2929 8.57094Z" fill="%23ffffff"></path></g></svg>');
}

@media (max-width: 768px) {
    .game__sound-controller {
        top: 20px;
        right: 20px;
    }
}

/* preloader */
.preloader {
    position: fixed;
    inset: 0;
    z-index: 400;
    background: rgb(15, 15, 15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: all 0.3s;
    pointer-events: none;
    opacity: 0;
}

.preloader.active {
    opacity: 1;
    pointer-events: all;
}

.preloader__block {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    max-width: 100%;

    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.preloader__bar {
    position: relative;
    width: 400px;
    max-width: 100%;
    height: 2px;
    border-radius: 5px;
    background: #727272;
}

.preloader__progress {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 10px;
    background: #ffffff;
}

@keyframes loadingBar {
    0% {
        width: 0%;
    }
    10% {
        width: 5%;
    }
    20% {
        width: 15%;
    }
    30% {
        width: 20%;
    }
    31% {
        width: 26%;
    }
    35% {
        width: 29%;
    }
    39% {
        width: 33%;
    }
    45% {
        width: 40%;
    }
    48% {
        width: 42%;
    }
    52% {
        width: 49%;
    }
    55% {
        width: 52%;
    }
    70% {
        width: 54%;
    }
    75% {
        width: 70%;
    }
    80% {
        width: 71%;
    }
    83% {
        width: 74%;
    }
    84% {
        width: 80%;
    }
    85% {
        width: 85%;
    }
    87% {
        width: 92%;
    }
    98% {
        width: 95%;
    }
    100% {
        width: 100%;
    }
}
